.footer {
  padding-top: 30px;
  background-color: beige;
  text-align: center;
}
body{
    background-color: #DED3C4;
}
h1{
    background-color: #555879
}
h2{
    background-color: #98A1BC
}
p{
    background-color: #F4EBD3
}