.footer {
  padding-top: 30px;
  background-color: beige;
  text-align: center;
}

.span1 {
  display: block;
  background-color: beige;
  padding: 16px;
  border: 2px solid blue;
  margin: 5px;
}
.span2{
  display: block;
  background-color:aqua;
  padding: 16px;
  border: 2px solid black ;
  margin: 5px;
}
.span3{
  display: block;
  background-color:brown;
  color:white;
  padding: 16px;
 border: 2px solid chartreuse ;
  margin: 5px;
}